/* In your CSS file (e.g., Scoreboard.css) */
.scoreboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh; /* This will make it take the full height of the viewport */
  }